h2 {
	margin: 0;
	padding: 0PX;
	font-weight: normal;
	color: #32639A;
}


a {
	text-decoration: none;
	color: #4486C7;
}

#inicio-tab{
          color:#fff; 
        }

#noticias-tab{
          color:#fff; 
        }






