#menu{
	border-bottom: 5px solid #C0F9BE; /*separador*/
	font-family: Century Gothic;

     
	}
h1{
	color: white;
	font-family:Century Gothic;

	
	}

span{
	color:#C0F9BE;
	font-family: Century Gothic; 
	height:65px;
	}

a{
        color: #fff;
        }




#footer{ /*espacio de pie de p�gina*/
	color: #fff;
	padding: 10px; 
	text-align: center;
	}
  #cont{
   background-color: #FCF9D1;
  }